.color-yellow {
    background-color: yellow;
    border: 2px solid black ;
    height: 150px;
}
.color-grey {
    background-color: grey;
    border: 2px solid black ;
    height: 150px;
}
.color-blue {
    background-color: steelblue;
    border: 2px solid black ;
    height: 150px;
}