.color-yellow {
    background-color: yellow;
    border: 2px solid black ;
    height: 110px;
    margin: 10px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.box-1 {
    background-color:greenyellow;   
    border: 2px solid black;
    height: 50px;
    width: 80px;
    margin: 30px;

}
.login {
    align-self: flex-end;
    margin-right: 2%;
    font-size: xx-large;
}

.color-pink {
    background-color: white;
    height: 70px;
    width: 100%;
    margin: 40px;
    display:flex;
    justify-content: space-between;
 
}
.pink1 {
    background-color:pink;   
    border: 2px solid black;
    flex-basis: 15%;
    width: 25%;
}
.pink2 {
    background-color: pink;
    border: 2px solid black;
    flex-basis: 15%;
    width: 25%;
}
.pink3 {
    background-color:pink;
    border: 2px solid black;
    flex-basis: 15%;
    width: 25%;
}
.pink4 {
    background-color: pink;
    border: 2px solid black;
    flex-basis: 15%;
    width: 15%;

}
.roundg {
    margin-right: 30px;
    width: 25%;
    background-color: green;
    border-radius: 50%;
    border: 2px solid black;
    flex-basis: 15%;
}

.color-grey {
    background-color: white;
    height: 140px;
    width: 100%;
    margin: 10px;
    display:flex;
    justify-content: space-between;
}
.color-blue {
    background-color: dodgerblue;
    border: 2px solid black ;
    height: 160px;
    width: 100%;
    margin: 10px;
    display:flex;
    justify-content: end;
    align-items: center;
}
.about {
    background-color: steelblue;  
    font-size: x-large; 
    text-align: center;
    color: white;
    border: 2px solid black;
    height: 120px;
    width: 120px;
    margin: 30px;
}
.support {
    background-color: steelblue;   
    font-size: x-large;
    text-align: center;
    color: white;
    border: 2px solid black;
    height: 120px;
    width: 120px;
    margin: 10px;

}
.social-c {
    background-color: steelblue;   
    color: white;
    font-size: x-large;
    text-align: center;
    border: 2px solid black;
    height: 120px;
    width: 120px;

    margin: 10px;
    
}
.color1 {
    background-color: grey;
    border: 2px solid black;
    flex-basis: 20%;
}

.color2 {
    background-color: skyblue;
    border: 2px solid black;
    flex-basis: 71%;
}