.color-yellow {
    background-color: yellow;
    border: 2px solid black ;
    height: 75px;
    margin: 10px
}
.color-pink {
    background-color: white;
    height: 75px;
    margin: 10px;
    display:flex;
    justify-content: space-evenly;

}
.pink1 {
    background-color:pink;   
    border: 2px solid black;
    flex-basis: 10%;
}
.pink2 {
    background-color: pink;
    border: 2px solid black;
    flex-basis: 10%;
}
.pink3 {
    background-color:pink;
    border: 2px solid black;
    flex-basis: 10%;
}
.pink4 {
    background-color: pink;
    border: 2px solid black;
    flex-basis: 10%;
}

.color-grey {
    background-color: white;
    height: 150px;
    margin: 10px;
    display:flex;
    justify-content: space-between;
}
.color-blue {
    background-color: steelblue;
    border: 2px solid black ;
    height: 150px;
    margin: 10px;
}
.color1 {
    background-color: grey;
    border: 2px solid black;
    flex-basis: 20%;
}

.color2 {
    background-color: skyblue;
    border: 2px solid black;
    flex-basis: 71%;
    
}
